@import 'variables';

.add-player-container {
  position: relative;
  top: 3.5rem;
  display: flex;
  justify-content: center;
}

.add-player {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 0.5rem 0 1rem 0;
}
